.App {
  text-align: center;
}


.btn-wrapper{
  flex: 2;
  text-align: right;
}
.btn-default{
  background-color: #598DEF;
}
.btn-dangerous{
  background-color: red;
}

button {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  border: none;
  padding: 0.5rem 1rem;
}

h2{
  margin-top: 5rem;
}

/* AddTodo Form */
form{
  width: 500px;
  margin: 3rem auto;
  display: flex;
}
form input{
  flex: 2;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

/* TodoList */
ul{
  max-width: 500px;
  margin: 0 auto 3rem;
}

li{
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgrey;
  padding: 1rem;
}
li:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
li:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  flex: 2;
}


li input{
  margin-right: 20px;
}

input[type=checkbox]{
  cursor: pointer;
}
.completed{
  background-color: #B3D6BC;
}